/* Submit button */
a.drigg-submit.drigg-submit {
  display: block;
  padding: 2px 5px;
  border: 1px outset #666;
  background-color: #2763A5;
  font-size: 120%;
  font-weight: bold;
  text-align: center;
  color: #fff;
}
a.drigg-submit:hover { color: #eee; }
a.drigg-submit:active { border: 1px inset #666; }

/* Node */
.node.ntype-drigg .content { font-size: 110%; }
.node .simple_karma { float: left; }
.node .offset { margin-left: 60px; }
.node h2.title { margin-bottom: 0; }
.node .content { padding: 0 !important; }
.node .content * { display: inline; }
.node .storydata {
  padding: 2em 0;
  font-size: 90%;
}
.node .storydata .dates  {
  clear: left;
  display: block;
  color: #666;
}
.node .storydata .dates .promotion_date { color: #c00; }

/* Node links */
.node .links .simple_karma { float: none; }

/* User page */
.drigg-user-scoops td.story a,
.drigg-user-votes td.story a {
  display: block;
  font-size: 120%;
}
.drigg-user-scoops td.story span.creation,
.drigg-user-votes td.story span.promotion {
  color: #666;
  font-size: 90%;
}
.drigg-user-scoops td.story span.status,
.drigg-user-votes td.story span.status {
  font-weight: bold;
  font-size: 90%;
}

/* "Best" blocks */
.block.block-drigg ul.best-upcoming-scoops,
.block.block-drigg ul.best-published-scoops {
  margin-left: 0;
  padding-left: 0;
}
.block.block-drigg ul.best-upcoming-scoops li,
.block.block-drigg ul.best-published-scoops li {
  list-style: none;
  clear: left;
}
.block-drigg ul.best-upcoming-scoops li span,
.block-drigg ul.best-published-scoops li span {
  float: left;
  display: block;
  width: 2.5em;
  margin-bottom: 0.2em;
  padding: 0 1px;
  border: 1px solid #ccc;
  background-color: #fff;
  background-repeat: repeat-x;
  background-position: top-left;
  text-align: center;
}
.block-drigg ul.best-upcoming-scoops li span {
  background-image: url("images/block_scorebg_upcoming.gif");
}
.block-drigg ul.best-published-scoops li span {
  background-color: #ffc;
  border-color: #cc9;
  background-image: url("images/block_scorebg_published.gif");
}
.block-drigg ul.best-upcoming-scoops li a,
.block-drigg ul.best-published-scoops li a {
  display: block;
  margin-left: 3.5em;
  margin-bottom: 0.2em;
}

/* Who voted */
ul.drigg-voters {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}
ul.drigg-voters li {
  float: left;
  display: block;
  width: 31%;
  height: 3em;
  margin-right: 2%;
  margin-bottom: 10px;
}
ul.drigg-voters li.first { clear: left; }
ul.drigg-voters div.picture {
  float: left;
  margin-right: 5px;
}

/* Related links */
dl.drigg-relatedlinks { margin-top: 0; }
dl.drigg-relatedlinks dt { margin-top: 1em; }
dl.drigg-relatedlinks dt a {
  display: block;
  font-size: 120%;
}
dl.drigg-relatedlinks dt span {
  color: #666;
  font-size: 90%;
}
dl.drigg-relatedlinks dd {
  margin-left: 0;
  font-size: 90%;
}

/* Google Ads */
.googleads_top {
  margin: 0.5em auto 1em auto;
  text-align: center;
}
.googleads_left {}
.googleads_node {
  margin: 1em auto 1em 60px;
}